<form action="/traffic/{{ action_url }}/" method="post">
    {% csrf_token %}
    {{ vform.as_p }}
    Latitude: <input type="text" name="loc_lat"><br><br>
    Longitude: <input type="text" name="loc_long"><br><br>
    <input type="radio" name="charge" value="1">Charge<br><br>
    Charge Nature
    <select name="charge_nature" id="charge_nature">
        <option disabled selected value> ---- </option>
        <option value="TC">Toll Charge</option>
        <option value="OS">Over Speeding</option>
        <option value="LV">Light Violation</option>
    </select><br><br>
    <input type="submit" value="Submit" />
</form>
